script(src='https://cdn.bootcss.com/typed.js/2.0.5/typed.js')
strong#typedjs1
script.
  var typed = new Typed("#typedjs1", {
  strings: [ '<h2>一个小小的小站。<h2>','<h2>绿蚁新醅酒，红泥小火炉，晚来天欲雪，能饮一杯无？<h2>','<h2>玲珑骰子安红豆， 入骨相思知不知。<h2>','<h2>此去经年，应是良辰好景虚设。便纵有千种风情，更与何人说?<h2>','<h2>春风得意马蹄疾，一日看尽长安花。<h2>','<h2>少年不知愁滋味，爱上层楼。爱上层楼，为赋新词强说愁。<h2>','<h2>而今识尽愁滋味，欲说还休。欲说还休，却道天凉好个秋。<h2>','<h2>人面不知何处去，桃花依旧笑春风。<h2>','<h2>自古美人如名将，人间不许见白头。<h2>'],
  startDelay: 0,
  typeSpeed: 220,
  backSpeed: 50,
  loop: true,
  showCursor: false,
  shuffle: false 
  });
