body {
  
  background: rgb(238, 232, 213);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
//修改指针
//cursor: url('https://cdn.jsdelivr.net/gh/TRHX/CDN-for-itrhx.com@1.0/images/mouse.cur '),auto;
}
// 修改主体透明度
.main-inner {
  background: #fff;
  opacity: 0.8;
}

// 修改菜单栏透明度
.header-inner {
  opacity: 0.1;
}

//自定义字体

//网站主标题
//#site-title{
//	font-family:kangxizidian
//}
//作者名
.text-center{
	font-family:Pacifico-Regular
	
}

//修改副标题字体颜色
h2{
color: white;
font-size: 80%
}

//修改评论区柯南位置
#veditor:focus{
	background-position-y: 200px;
	transition: all 2.5s ease-in-out 0s;
}


#vcomment .vcards .vcard {
	padding: 15px 20px 0 20px;
	background: rgb(255, 211, 203)
	border-radius: 10px;
	margin-bottom: 15px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, .12);
	transition: all 0.3s
}

#vcomment .vcards .vcard:hover {
	box-shadow: 0 0 8px 3px rgba(0, 0, 0 .12)
}

#vcomment .vcards .vcard .vh .vcard {
	border: none;
	box-shadow: none;
}


